<app-header-usuario-logueado></app-header-usuario-logueado>
<mat-grid-list cols="3" rowHeight="120px">
    <mat-grid-tile colspan="3">
        <h1 class="roboto-bold">Datos personales</h1>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="item">
            <label class="roboto-bold" for="nombre">Nombre</label>
            <input class="input-readonly roboto-bold" type="text" [value]="userInfo?.name" id="nombre" readonly>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="item">
            <label class="roboto-bold" for="apellido">Apellido</label>
            <input class="input-readonly roboto-bold" type="text" [value]="userInfo?.lastName" id="apellido" readonly>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="item">
            <label class="roboto-bold" for="usuario">Usuario</label>
            <input class="input-readonly roboto-bold" type="text" [value]="userInfo?.username" id="usuario" readonly>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="item">
            <label class="roboto-bold" for="fecha">Fecha de nacimiento</label>
            <input class="input-readonly roboto-bold" type="text" [value]="userInfo?.birthDate" id="fecha" readonly>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="item">
            <label class="roboto-bold" for="telefono">Telefono</label>
            <input class="input-readonly roboto-bold" type="text" [value]="userInfo?.phone" id="telefono" readonly>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="item">
            <label class="roboto-bold" for="direccion">Dirección</label>
            <input class="input-readonly roboto-bold" type="text" [value]="userInfo?.address" id="direccion" readonly>
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="item">
            <label class="roboto-bold" for="correo">Correo electronico</label>
            <input class="input-readonly roboto-bold" type="text" [value]="userInfo?.email" id="correo" readonly>
        </div>
    </mat-grid-tile>
</mat-grid-list>
<mat-grid-list class="documents-container" cols="2" rowHeight="100px">
    <mat-grid-tile colspan="2">
        <h1 class="roboto-bold">Documentos requeridos</h1>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="document">
            <div class="document-title">
                <img *ngIf="documentsStatus.hojaDeVida; else noFile" src="assets/icons/check-green.svg" alt="Subido" class="status-icon">
                <ng-template #noFile>
                    <img src="assets/icons/required-document.svg" alt="Documento requerido" class="status-icon">
                </ng-template>
                <h3 class="roboto-medium">Hoja de vida</h3>
            </div>
            <label class="roboto-medium" for="hoja-de-vida">{{ documentsStatus.hojaDeVida ? 'Actualizar' : 'Adjuntar archivo' }} <img src="assets/icons/file.svg" alt="file"></label>
            <input class="roboto-medium" type="file" id="hoja-de-vida" (change)="uploadFile($event, 'hojaDeVida')">
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="document">
            <div class="document-title">
                <img *ngIf="documentsStatus.libretaMilitar; else noFile" src="assets/icons/check-green.svg" alt="Subido" class="status-icon">
                <ng-template #noFile>
                    <img src="assets/icons/required-document.svg" alt="Documento requerido" class="status-icon">
                </ng-template>
                <h3 class="roboto-medium">Libreta militar</h3>
            </div>
            <label class="roboto-medium" for="libreta-militar">{{ documentsStatus.libretaMilitar ? 'Actualizar' : 'Adjuntar archivo' }} <img src="assets/icons/file.svg" alt="file"></label>
            <input class="roboto-medium" type="file" id="libreta-militar" (change)="uploadFile($event, 'libretaMilitar')">
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="document">
            <div class="document-title">
                <img *ngIf="documentsStatus.fotocopiaCedula; else noFile" src="assets/icons/check-green.svg" alt="Subido" class="status-icon">
                <ng-template #noFile>
                    <img src="assets/icons/required-document.svg" alt="Documento requerido" class="status-icon">
                </ng-template>
                <h3 class="roboto-medium">Fotocopia de cedula</h3>
            </div>
            <label class="roboto-medium" for="fotocopia-cedula">{{ documentsStatus.fotocopiaCedula ? 'Actualizar' : 'Adjuntar archivo' }} <img src="assets/icons/file.svg" alt="file"></label>
            <input class="roboto-medium" type="file" id="fotocopia-cedula" (change)="uploadFile($event, 'fotocopiaCedula')">
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="document">
            <div class="document-title">
                <img *ngIf="documentsStatus.certificadoEducacion; else noFile" src="assets/icons/check-green.svg" alt="Subido" class="status-icon">
                <ng-template #noFile>
                    <img src="assets/icons/required-document.svg" alt="Documento requerido" class="status-icon">
                </ng-template>
                <h3 class="roboto-medium">Certificados de educación</h3>
            </div>
            <label class="roboto-medium" for="certificados-educacion">{{ documentsStatus.certificadoEducacion ? 'Actualizar' : 'Adjuntar archivo' }} <img src="assets/icons/file.svg" alt="file"></label>
            <input class="roboto-medium" type="file" id="certificados-educacion" (change)="uploadFile($event, 'certificadoEducacion')">
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="document">
            <div class="document-title">
                <img *ngIf="documentsStatus.certificadosFormacion; else noFile" src="assets/icons/check-green.svg" alt="Subido" class="status-icon">
                <ng-template #noFile>
                    <img src="assets/icons/required-document.svg" alt="Documento requerido" class="status-icon">
                </ng-template>
                <h3 class="roboto-medium">Certificados de formación</h3>
            </div>
            <label class="roboto-medium" for="certificados-formacion">{{ documentsStatus.certificadosFormacion ? 'Actualizar' : 'Adjuntar archivo' }} <img src="assets/icons/file.svg" alt="file"></label>
            <input class="roboto-medium" type="file" id="certificados-formacion" (change)="uploadFile($event, 'certificadosFormacion')">
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="document">
            <div class="document-title">
                <img *ngIf="documentsStatus.cartasExperienciaLaboral; else noFile" src="assets/icons/check-green.svg" alt="Subido" class="status-icon">
                <ng-template #noFile>
                    <img src="assets/icons/required-document.svg" alt="Documento requerido" class="status-icon">
                </ng-template>
                <h3 class="roboto-medium">Cartas de experiencia laboral</h3>
            </div>
            <label class="roboto-medium" for="cartas-experiencia-laboral">{{ documentsStatus.cartasExperienciaLaboral ? 'Actualizar' : 'Adjuntar archivo' }} <img src="assets/icons/file.svg" alt="file"></label>
            <input class="roboto-medium" type="file" id="cartas-experiencia-laboral" (change)="uploadFile($event, 'cartasExperienciaLaboral')">
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="document">
            <div class="document-title">
                <img *ngIf="documentsStatus.certificadoEPS; else noFile" src="assets/icons/check-green.svg" alt="Subido" class="status-icon">
                <ng-template #noFile>
                    <img src="assets/icons/required-document.svg" alt="Documento requerido" class="status-icon">
                </ng-template>
                <h3 class="roboto-medium">Certificado de EPS</h3>
            </div>
            <label class="roboto-medium" for="certificado-eps">{{ documentsStatus.certificadoEPS ? 'Actualizar' : 'Adjuntar archivo' }} <img src="assets/icons/file.svg" alt="file"></label>
            <input class="roboto-medium" type="file" id="certificado-eps" (change)="uploadFile($event, 'certificadoEPS')">
        </div>
    </mat-grid-tile>
    <mat-grid-tile>
        <div class="document">
            <div class="document-title">
                <img *ngIf="documentsStatus.documentosBeneficiarios; else noFile" src="assets/icons/check-green.svg" alt="Subido" class="status-icon">
                <ng-template #noFile>
                    <img src="assets/icons/required-document.svg" alt="Documento requerido" class="status-icon">
                </ng-template>
                <h3 class="roboto-medium">Documento de beneficiarios</h3>
            </div>
            <label class="roboto-medium" for="documento-beneficiarios">{{ documentsStatus.documentosBeneficiarios ? 'Actualizar' : 'Adjuntar archivo' }} <img src="assets/icons/file.svg" alt="file"></label>
            <input type="file" id="documento-beneficiarios" (change)="uploadFile($event, 'documentosBeneficiarios')">
        </div>
    </mat-grid-tile>
</mat-grid-list>