<app-header-ofertas *ngIf="userRole == null"></app-header-ofertas>
<app-header-usuario-logueado *ngIf="userRole == 'CANDIDATE'"></app-header-usuario-logueado>
<app-header *ngIf="userRole == 'ADMIN'"></app-header>

<mat-sidenav-container class="container">
  <mat-sidenav class="options-offers" mode="side" opened>
    <app-selector-oferta *ngFor="let oferta of dataSource"
      [offerId]="oferta.jobOfferId"
      imgSrc="assets/icons/work-bag-black.svg"
      [titulo]="oferta.jobOfferName"
      [cargo]="oferta.postulacion?.namePosition ?? ''"
      [departamento]="oferta.postulacion?.department?.departmentName ?? ''"
      [selectedOffer]="selectedOffer"
      (selectOffer)="selectOffer(oferta.jobOfferId)">
    </app-selector-oferta>
  </mat-sidenav>
  <mat-sidenav-content class="description-offers">
    <app-contenido-oferta
      *ngFor="let oferta of dataSource"
      [offerId]="oferta.jobOfferId"
      imgSrc="assets/icons/work-bag-black.svg"
      [titulo]="oferta.jobOfferName"
      [cargo]="oferta.postulacion?.namePosition ?? ''"
      [departamento]="oferta.postulacion?.department?.departmentName ?? ''"
      [nivelExperiencia]="oferta.postulacion?.levelOfExperience ?? ''"
      [tiempoEmpleo]="oferta.postulacion?.employmentTime ?? ''"
      [fechaCreacion]="oferta.jobOfferDate ?? ''"
      [fechaCierre]="oferta.jobOfferExpirationDate ?? ''"
      [descripcion]="oferta.jobOfferDescription ?? ''"
      [selectedOffer]="selectedOffer">
    </app-contenido-oferta>
  </mat-sidenav-content>
</mat-sidenav-container>
