.create-button {
    margin-bottom: 2%;
}

.create-button a {
    text-decoration: none;
    color: white;
}

.create-button button {
    background-color: #004466;
    color: white;
    border: none;
    padding: 20px 30px;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    margin-top: 20px;
}

.create-button button:hover {
    background-color: #00334d;
}

.mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
}

.actions-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.action-cell button {
    background-color: transparent; /* Fondo transparente para que solo se muestre la imagen */
    border: none; /* Sin borde */
    border-radius: 10%;
    width: 40px; /* Tamaño fijo */
    height: 40px; /* Tamaño fijo */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: none;
    padding: none;
  }
  
  .action-cell button img {
    width: 20px; /* Tamaño fijo para la imagen */
    height: 20px; /* Tamaño fijo para la imagen */
  }
  
  .action-cell button:hover {
    background-color: #004466; /* Cambia el color de fondo al hacer hover */
  }
  
  .action-cell button:hover img {
    filter: invert(100%) brightness(2); /* Invierte los colores de la imagen al hacer hover */
  }