<div class="header roboto-bold">
    <div class="header_logo">
        <img src="assets/Logo.svg" alt="logo" title="Logo Human Ease"/>
    </div>
    <div class="header_nav">
        <ul>
        <li><a href="">Ofertas de empleo</a></li>
        <li><a href="">Postulaciones</a></li>
        <li><a href="home-analista">RR.HH</a></li>
        </ul>
        <button class="menu_button_user" [matMenuTriggerFor]="menu"><img src="assets/icons/user.svg" alt="userLogo"></button>
        <mat-menu class="menu_user" #menu="matMenu">
            <!--<a href="usuario-cuenta" mat-menu-item>Cuenta</a> -->
            <button mat-menu-item class="menu_user_item" >
                <div class="logout" (click)="logout()">
                    Cerrar sesión
                    <img src="assets/icons/logout.svg" alt="Logout">
                </div>
            </button>
        </mat-menu>
    </div>
</div>
