<div class="container">
    <div class="container-info">
        <div class="logo-container">
            <img src="assets/Logo.svg" alt="logo" class="logo">
            <div class="line"></div>
            <h3>Mira los trabajos disponibles y postulate</h3>
            <button class="postulation">Postulaciones</button>
            <div class="info">
                <h3>Recuerda que necesitas una cuenta poder postularte a los trabajos</h3>
            </div>
            <button class="register">Registrarse</button>
        </div>
    </div>
    <div class="login-container">
        <div class="login-container-white">
            <h1>Iniciar Sesión</h1>
            <form class="login-form">

                <div class="form-group">
                    <label for="user" class="user-label">Usuario</label>
                    <input type="text" id="user" formControlName="user" placeholder="Nombre de usuario" class="input">
                </div>

                <div class="form-group">
                    <label for="user" class="user-label">Contraseña</label>
                    <input type="text" id="user" formControlName="password" placeholder="Contraseña de la cuenta" class="input">
                </div>

                <button class="login">Ingresar</button>

                <h4>¿Olvidaste tu contraseña?</h4>

            </form>
        </div>
    </div>
</div>