<app-header></app-header>
<app-barra-herramientas></app-barra-herramientas>

<div class="main-container" [ngClass]="{'disabled': interfazDeshabilitada === true}">
    <h1 class="roboto-bold">Crear Cargo</h1>
    <form class="roboto-light" [formGroup]="positionForm" (ngSubmit)="onSubmit()">
      <div class="form-group">
        <label for="namePosition">Cargo</label>
        <input type="text" class="input" formControlName="namePosition" id="namePosition" placeholder="Nombre del cargo" required>
      </div>
  
      <div class="form-group">
        <label for="departmentId">Departamento</label>
        <select formControlName="departmentId" id="departmentId" class="input" required>
          <option *ngFor="let dept of departamentos" [value]="dept.departmentId">{{dept.departmentName}}</option>
        </select>
      </div>
  
      <div class="form-group">
        <label for="levelOfExperience">Nivel de experiencia</label>
        <input type="text" formControlName="levelOfExperience" id="levelOfExperience" class="input" required>
      </div>
  
      <div class="form-group">
        <label for="employmentTime">Tiempo de empleo</label>
        <select formControlName="employmentTime" id="employmentTime" class="input" required>
          <option *ngFor="let tiempo of tiempo" [value]="tiempo">{{tiempo}}</option>
        </select>
      </div>

      <div class="form-group-item">
        <input type="text" placeholder="Agregar requerimiento personalizado" id="requerimiento-personalizado">
        <button type="button" id="add-requerimiento" (click)="agregarRequerimientoPersonalizado()">+</button>
      </div>
  
      <div class="button">
        <button type="submit" class="submit-button">Crear cargo</button>
      </div>
    </form>

    <div class="form-group">
      <h3 class="roboto-bold">Requerimientos agregados</h3>
      <ul>
        <li class="roboto-regular" *ngFor="let req of requerimientosAgregados; let i = index">
          <img src="assets/icons/delete.svg" alt="delete" (click)="eliminarRequerimiento(i)">
          {{ req }}
        </li>
      </ul>
    </div>
</div>
  