<div class="tool-bar-container">
    <ul>
        <li><a href="home-analista"><img src="assets/icons/home.svg" alt="Icono home" title="Home"></a></li>
        <li><a href="trabajadores"><img src="assets/icons/group.svg" alt="Icono group" title="Trabajadores y novedades"></a></li>
        <li><a href="crear-cargo"><img src="assets/icons/add.svg" alt="Icono add" title="Crear cargo"></a></li>
        <li><a href="postulantes"><img src="assets/icons/search-worker.svg" alt="Icono buscar postulantes" title="Postulantes"></a></li>
        <li><a href="postulaciones"><img src="assets/icons/work-bag.svg" alt="Icono maleta" title="Postulaciones"></a></li>
        <li><a href="nomina"><img src="assets/icons/check-list.svg" alt="Icono checklist" title="Nómina"></a></li>
        <!--<li><a href="proceso-contratacion"><img src="assets/icons/process.svg" alt="Icono proceso" title="Proceso de contratación"></a></li>-->
        <li><a href="aporte-seguridad-social"><img src="assets/icons/aporte.svg" alt="Icono aportes" title="Aportes a seguridad social"></a></li>
        <!--<li><a href="ajustes"><img src="assets/icons/settings.svg" alt="Icono ajustes" title="Ajustes"></a></li>-->
    </ul>
    
</div>
