.info{
    display: flex;
    align-items: start;
    padding: 30px;
    border: 2px solid #ccc;
    border-radius: 5px;
    width: 95%;
    margin-bottom: 20px;
}

.img-user{
    width: 100px;
    height: 100px;
    background-color: #CCEEFF;
    border-radius: 50%;
}

.employee-info{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

.item-info {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.item-info p{
    margin: 0px;
    margin-right: 10px;
}

.item{
    display: flex;
    text-align: center;
}

.item p{
    margin: 0px;
    margin-bottom: 10px;
    margin-right: 5px;
}


form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}

.form-group{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
}

.form-group h3{
    margin-right: 20px;
}

.form-group input, select, textarea{
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 1em;
    margin-left: 10px;
}

.progress {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 200px; /* Ajusta esto según sea necesario */
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 30px;
}

.number{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border: 2px solid black;
    font-size: 20px;
    background-color: white;
    margin-bottom: 0px;
}

.active{
    background-color: #004466;
    color: white;
}

.line-container {
    position: absolute;
    top: 38%;
    left: 50%;
    z-index: -1;
    transform: translate(-50%, -50%);
    width: 90%; /* Ajusta esto según sea necesario */
    display: flex;
    justify-content: center;
}

.line {
    width: 100%;
    height: 2px; /* Ajusta el grosor de la línea según sea necesario */
    background-color: black; /* Ajusta el color de la línea según sea necesario */
}

.submit-button {
    background-color: green;
    color: white;
    padding: 10px;
    font-size: 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.submit-button:hover {
    background-color: darkgreen;
}

.button {
    grid-column: 2/3;
    justify-self: center;
}

.button a{
    text-decoration: none;
}

.cancel-button {
    background-color: red;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-left: 10px;
}

.cancel-button:hover {
    background-color: darkred;
}

.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container h3{
    margin: 0px;
    margin-bottom: 10px;
}

.acciones-proceso {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-top: 0px;
    width: 30%; /* Ajusta esto según sea necesario */
}

.item-accion {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.item-accion img {
    margin-bottom: 40%;
    width: 25px;
    height: 25px;
    padding-left: 25%;
    background: none;
}

.item-accion .icon-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.button-task{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    background-color: #004466;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 5px;
}

.button-task:hover {
    background-color: #00334d;
}

.disabled {
    background-color: #ccc;
    color: white;
    cursor: not-allowed;
    pointer-events: none;
}

.disabled:hover {
    background-color: #ccc;
}

.container-form{
    display: flex;
    position: fixed; /* Para que esté en relación con la ventana del navegador */
    top: 50%; /* Moverlo al centro verticalmente */
    left: 50%; /* Moverlo al centro horizontalmente */
    transform: translate(-50%, -50%); /* Ajustar el centro */
    z-index: 1000; /* Asegurarse de que esté en el primer plano */
    background-color: white; /* Fondo blanco para distinguirlo */
    padding: 20px; /* Espaciado interno */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Sombra para efecto de elevación */
    border-radius: 8px; /* Bordes redondeados (opcional) */

    flex-direction: column;
    width: 60%;
    margin: 0 auto;
    align-items: center;
    border: 1px solid #ccc;
    padding: 20px;
}

.container-form form{
    padding: 0px;
}

.notView{
    display: none;
}